<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <!-- Bootstarp link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- icon -->
     <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='css/style2.css') }}">
     <!-- <link rel="stylesheet" type="text/css" href="style.css">   -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}">

    <title>Donors area</title>
</head>
<body id="body2">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="" width="24" height="24">
      <span class="spn1">Vat</span>setu
    </a>
  </div>
</nav>
   <!--  <a class="navbar-brand" href="#">Vatsetu</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fun">Quick Search</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/">Your result</a>
        </li>
            
        <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="/donorinfo">Donors area</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/">Update</a>
        </li>
      </ul>
      <form class="d-flex" action="/txtfind" method="POST">
        <input class="form-control me-2" type="search" placeholder="search for ICU beds,Oxygen...(Eg: ICU beds in delhi" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>  

    <div class="container2">
       <div id="heading_2">
         <h1> <span class="spn1">Vat</span>setu</h1>
       </div>
    <div class="box">
        <h3>Donors <span class="spn1">area</span></h3>
    </div>
    <div class="box">
        <form id="msform" action="/donor" method="post" enctype=multipart/form-data>
            <fieldset>
                <div class="form-card text-center col-md-7 col-lg-6">
                    <div class="row my-3">
                        <!-- <div class="col-7">
                            <h2 class="fs-title">Account Information:</h2>
                        </div>
                        <div class="col-5">
                            <h2 class="steps">Step 1 - 4</h2>
                        </div> -->
                         <h2 class="left">Search for</h2>
                        <div class="item" id="prev">
                            <select name="donoitem" id="donoitem">
                                <option value="Beds">Beds</option>
                                <option value="ICU">ICU</option>
                                <option value="Oxygen">Oxygen</option>
                                <option value="ventilator">Ventilator</option>
                                <option value="fabiflu">fabiflu</option>
                                <option value="Remdesivir">Remdesivir</option>
                                <option value="Tocilizumab">Tocilizumab</option>
                                <option value="Plasma">Plasma</option>
                                <option value="Tiffin">Tiffin</option>
                                <option value="other">other</option>
                            </select>
                            </div>
                </div>
            </fieldset>
            <fieldset>
                <!-- <div class="form-card text-center col-md-7 col-lg-6"> -->
                    <label class="fieldlabels"><h2 class="left">Available in cities</h2></label><br> 
                    <div class="item" id="prev">
                    <select name="donocity" id="donocity">
                                        <option value="delhi">Delhi</option>
                                        <option value="mumbai">Mumbai</option>
                                        <option value="pune">pune</option>
                                        <option value="Banglore">Banglore</option>
                                        <option value="thane">Thane</option>
                                        <option value="hyderabad">hyderabad</option>
                                        <option value="naagpur">naagpur</option>
                                        <option value="lucknow">lucknow</option>
                                        <option value="ahmdabad">ahmdabad</option>
                                        <option value="chennai">Chennai</option>
                                        <option value="kolkata">kolkata</option>
                                        <option value="goa">Goa</option>
                    </select>
                </div>
            </fieldset>
            <fieldset>
                <!-- <div class="form-card text-center col-md-7 col-lg-6"> -->
                    
                    <label class="fieldlabels"><h2 class="left">Mobile no of Donor/Hospital/Supplier</h2></label> <br>
                    <input type="text"
                        name="donomobile" placeholder="Enter the number" id="donomobile" />
            </fieldset>
            <fieldset>
                <!-- <div class="form-card text-center col-md-7 col-lg-6"> -->
                    <label class="fieldlabels"><h2 class="left">Any Other information</h2></label> <br>
                    <input type="text" name="donodesc" id="donodesc" class="donoar">
                </div> 
                <input type="radio" name="check" id="confirm" class="chk">
                <label for="confirm"><h2 class="left">I have provided the varified information</h2></label><br>
                <br>
                <button id="sub"><input type="submit" name="next" class="next action-button" value="Submit"/></button>
                
            </fieldset>
        </form>
    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</html>